#questions {
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'sans serif';     
}

input {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 250px;
    margin-top: 40px;
    color: white;
    font: bold;
    background:grey;
    font-size: 20px;
    font-family: 'sans serif';
}

/* Style for Placeholder Text*/

::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
    font: bold;
    font-family: sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: white; 
    font: bold;
    font-family: sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: white; 
    font: bold;
    font-family: sans-serif;
} 