.header {
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 75px;
    font-family: 'sans serif'; 
    background-color: whitesmoke;
    border: black 20px double;
}